<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Core Modules</title>

</head>
<body>
    <div>CORE</div>
    <button onclick="EntryPoint.sendTest()">TEST</button>
    <div>
        <ul id="msg-list"></ul>
    </div>
</body>
</html>